.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    position: sticky;
    top: 0;
    margin: 0 3rem;
    color: #000;
    font-family: var(--Montserrat);
}

.navbar_item {
    position: relative;
    color: white;
    outline: none;
    text-decoration: inherit;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar_item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}

.navbar_item:hover::before,
.navbar_item.active::before {
    width: 100%;
}