@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
  --white: #ffffff;
  --beige: #E0D3CC;
  --brown: #A87F5D;
  --grey: #8A7F79;
  --black: #151a20;
  --Montserrat: "Montserrat", sans-serif;
  --Montserrat-Bold: "Montserrat", bold;
  --Titillium: "Titillium";
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--Montserrat);
  margin: 0;
}